version: 2.1

orbs:
  node: circleci/node@5.1.0

workflows:
  test:
    jobs:
      resource_class: small
      - node/test:
          version: '19.6.0'
          pkg-manager: yarn

  release:
    jobs:
      - node/run:
          yarn-run: release
